@model IEnumerable<WebApplicationGlobalSystemTeste.Models.FighterModel>
@{
    ViewData["Title"] = "Global System";
}

<div class="text-center">
    <h1 class="display-4">Torneio de Luta</h1>
    

    <div class="container" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-sm-2">
                <form method="GET" action="/Fighter/GetResult">
                    <input type="hidden" id="ids" name="ids" />
                    <input class="btn btn-dark btn-sm" type="submit" value="Iniciar" onclick="CheckQuantity();">
                </form>
            </div>
            <div class="col-sm-10">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start">
            @foreach (var fighter in Model)
            {
                <div class="col" style="padding-bottom:50px;">
                    <div class="card" style="width: 15rem;">
                        <div class="card-header">
                            <div class="form-check">
                                <input class="form-check-input check" type="checkbox" id="@fighter.Id" name="@fighter.Id" onclick="GetByIdCheckbox();" style="transform: scale(1.5);" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    <h6>@fighter.Name</h6>
                                </label>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Idade: @fighter.Age</p>
                            <p class="card-text">Lutas: @fighter.Fights</p>
                            <p class="card-text">Derrotas: @fighter.Defeats</p>
                            <p class="card-text">Vitórias: @fighter.Victories</p>
                            <p class="card-text">Artes Marciais: @fighter.MartialArts.Length</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <p>Github <a href="https://github.com/rodrigofurlaneti">Rodrigo Furlaneti</a></p>
    <p>Repository <a href="https://github.com/rodrigofurlaneti/GlobalSystemTeste">GlobalSystemTeste</a></p>
</div>
<script>
    function GetByIdCheckbox() {
        var arr = [];
        var inputElements = document.getElementsByClassName('check');
        for (var i = 0; inputElements[i]; ++i) {
            if (inputElements[i].checked)
                arr.push(inputElements[i].name);
        }
        console.log(arr)
        document.querySelector("[name='ids']").value = arr;
        return arr;
    }
    function CheckQuantity() {
        var repository = document.querySelector("[name='ids']").value;
        var array = repository.split(',')
        if (array.length == 16)
        {
            alert("Quantidade ok!")
        }
        if (array.length < 16) {
            event.preventDefault();
            alert("Tem que selecionar 16 lutadores!")
        }
        if (array.length > 16) {
            event.preventDefault();
            alert("Tem que selecionar 16 lutadores!")
        }
    }

</script>

